.all-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 250px;
    padding:50px;
    
    min-width:100%;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    
}

.text-container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter:blur(30px);
    border-radius: 20px;
    
}

.hi-text {
    overflow:hidden;
    flex-direction:row;
    white-space: nowrap;
    align-items: center;
    text-align:center;
    font-size: 4rem;
    width: 100%;
    text-wrap: wrap;
    padding: 10px;
    color: black;
}
.hi-text sub{
    font-size: 1.5rem;
    color: black;
    opacity: 0.5;
}

.about-text {
    overflow:hidden;
    flex-direction:row;
    white-space: nowrap;
    align-items: center;
    text-align:center;
    font-size: 1.5rem;
    max-width: 60%;
    text-wrap: wrap;
    padding: 10px;
    color: black;
    border-radius: 50px;
}

ul {
    line-height: 1.5; 
    padding: 10px;
    padding-left: 40px;
    padding: 10px;
}