.all-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 250px;
    padding:50px;
    background-image: url("/images/christ.jpg");
    background-size:cover;
    background-position: 0px 0px, 0px 930px, 0px 1930px;
    background-repeat: no-repeat;
    min-width:100%;
    overflow-wrap: break-word;
    overflow-wrap: break-word;
    
}

.text-container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter:blur(30px);
    border-radius: 20px;
}

.hi-text {
    overflow:hidden;
    flex-direction:row;
    white-space: nowrap;
    align-items: center;
    text-align:center;
    font-size: 4rem;
    width: 100%;
    text-wrap: wrap;
    padding: 10px;
}

.about-text {
    overflow:hidden;
    flex-direction:row;
    white-space: nowrap;
    align-items: center;
    text-align:center;
    font-size: 2rem;
    max-width: 60%;
    text-wrap: wrap;
    padding: 10px;
    border-radius: 50px;
}

ul {
    line-height: 1.5; 
    padding: 10px;
    padding-left: 40px;
    padding: 10px;
}