@keyframes typing {
    from {width: 0}
    to {width: 35%}
}
* {
    justify-content: center;
    align-items: center;
}
.header-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    min-height: 50%;
    max-width: 70%;
    padding: 10px;
}
.content-container{
    display:flex;
    align-items: left;
    justify-content: left;
    text-wrap: wrap;
    padding: 10px;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
ul {
    padding-left: 40px;
}