main {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/tron_legacy.jpg");
    background-size: cover;
}
.all-projects-container{
    display: flex; 
    flex-direction: row;
    align-items: center;
    overflow:scroll;
}

.projects-container{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    white-space: nowrap;
    padding: 10px;
    gap:10px;
}

.project-container{
    display:flex;
    flex-direction:column;
    min-width: 500px;
    white-space: pre-line;
    border: 2px solid black;
    padding: 10px;
    border-radius:6px;
}

ul {
    padding-left: 40px;
}