@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    color: lightgray;
    
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    min-height: 10%;
    min-width: 100%;

    background-color: black;
}

main {
    min-height: 80%;
    min-width: 100%;
    filter:grayscale(50%);
    background-image: url("/images/Dune-spice-1.jpg");
    background-size:cover;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    min-height: 10%;
    min-width: 100%;
    
    background-color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
.fa:hover {
    opacity: 0.7;
}